<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('fragments/head.ejs') %>
  <title>RIU -- Admin</title>
  <link href="/stylesheets/admin.css" rel="stylesheet">
</head>

<body>
  <%- include('fragments/navbar.ejs') %>

  <!-- Sidebar menu -->
  <div class="container-fluid">
    <div class="row row-cols-2">
      <%- include('fragments/admin/sidebar.ejs') %>

      <div id="adminCol" class="col">
        <div class="tab-content" id="pills-tabContent">

          <div class="tab-pane fade show active" id="pills-org" role="tabpanel" aria-labelledby="pills-org-tab" tabindex="0">
            <%- include('fragments/admin/orgSettings.ejs') %>
          </div>

          <div class="tab-pane fade" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab" tabindex="0">
            <%- include('fragments/admin/usersSettings.ejs') %>
          </div>

          <div class="tab-pane fade" id="pills-installations" role="tabpanel" aria-labelledby="pills-installations-tab" tabindex="0">
            <%- include('fragments/admin/installations.ejs') %>
          </div>

          <div class="tab-pane fade" id="pills-faculties" role="tabpanel" aria-labelledby="pills-faculties-tab" tabindex="0">
            <%- include('fragments/admin/faculties.ejs') %>
          </div>

          <div class="tab-pane fade" id="pills-stats" role="tabpanel" aria-labelledby="pills-stats-tab" tabindex="0">
            <%- include('fragments/admin/stats.ejs') %>
          </div>
        </div>
        
      </div>    
    </div>
  </div>

  <%- include('fragments/footer.ejs') %>
  <script src="/javascript/admin/adminOrg.js"></script>
  <script src="/javascript/admin/adminUserSettings.js"></script>
  <script src="/javascript/admin/adminInstallations.js"></script>
  <script src="/javascript/admin/adminFaculties.js"></script>
  <script src="/javascript/admin/adminStats.js"></script>
  <script src="/javascript/admin/admin.js"></script>
</body>

</html>