<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('fragments/head.ejs') %>
  <title>RIU -- Admin</title>
  <link href="/stylesheets/admin.css" rel="stylesheet">
</head>

<body>
  <%- include('fragments/navbar.ejs') %>

  <!-- Sidebar menu -->
  <div class="container-fluid">
    <div class="row">
      <%- include('fragments/adminSidebar.ejs') %>

      <div class="col">
        <div class="tab-content" id="pills-tabContent">

          <div class="tab-pane fade show active" id="pills-org" role="tabpanel" aria-labelledby="pills-org-tab" tabindex="0">
            <%- include('fragments/adminSettingsOrg.ejs') %>
          </div>

          <div class="tab-pane fade" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab" tabindex="0">
            <%- include('fragments/adminSettingsUsers.ejs') %>
          </div>

          <div class="tab-pane fade" id="pills-installationsCreate" role="tabpanel" aria-labelledby="pills-installationsCreate-tab" tabindex="0">
            <%- include('fragments/adminSettingsInstallationsCreate.ejs') %>
          </div>

          <div class="tab-pane fade" id="pills-installationsManage" role="tabpanel" aria-labelledby="pills-installationsManage-tab" tabindex="0">
            <%- include('fragments/adminSettingsInstallationsManage.ejs') %>
          </div>

          <div class="tab-pane fade" id="pills-stats" role="tabpanel" aria-labelledby="pills-stats-tab" tabindex="0">
            <%- include('fragments/adminSettingsStats.ejs') %>
          </div>
        </div>
        
      </div>    
    </div>
  </div>

  <%- include('fragments/footer.ejs') %>
  <script src="/javascript/admin.js"></script>
</body>

</html>