<!doctype html>
<html lang="es">

<head>
    <%- include('fragments/head.ejs') %>
    <title>RIU - Login</title>
    <link href="/stylesheets/login.css" rel="stylesheet">
</head>

<body class="gradientCustom">
    <section class="vh-100">
        <div class="container py-5 h-100" id="loginRegister">
            <!-- Login -->
            <div class="row d-flex justify-content-center align-items-center h-100" id="logDiv">
                <div class="col-12 col-md-8 col-lg-6 col-xl-6">
                    <div class="card bg-dark text-white rounded">
                        <div class="card-body p-md-5 text-center">
                            <h2 class="signin fw-bold mb-4 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-4">Introduce your credentials to sign in.</p>
                            <form id="loginForm">
                                <input id="loginCSRF" type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="mb-4">
                                    <input type="email" id="emailInput" class="form-control form-control-lg" placeholder="Email">
                                </div>
                                <div class="mb-4">
                                    <div class="input-group">
                                        <input type="password" id="passwordInput" class="form-control form-control-lg password-input" placeholder="Password">
                                        <button class="btn btn-outline-light show-password-btn" type="button">Show</button>
                                    </div>
                                </div>
                                <button class="signin btn btn-outline-light btn-lg px-sm-5" id="formLoginBtn" type="submit">Login</button>
                            </form>
                            <div class="mt-4">
                                <p class="register mb-0">Don't have an account?
                                    <a href="#" class="register text-white-50 fw-bold" id="registerBtn">Register</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Registration -->
            <div class="row d-flex justify-content-center align-items-center h-100 d-none" id="regDiv">
                <div class="col-12 col-lg-8">
                    <div class="card bg-dark text-white rounded">
                        <div class="card-body p-sm-5 p-lg-4 p-xl-5 text-center">
                            <h2 class="signin fw-bold mb-4 text-uppercase">Registration</h2>
                            <p class="text-white-50 mb-4">Introduce your details to create an account</p>
                            <!-- se llama create no register ahora -->
                            <form id="registerForm" method="post" action="/users/create">
                                <input type="hidden" id="_csrf" value= "<%= csrfToken %>">
                                <!-- Img preview + Names + Email -->
                                <div class="row">
                                    <div class="col col-lg-6 mb-3">
                                        <img src="/images/person-circle.svg" alt="profile-image" class="img-fluid rounded-circle" id="accountImg">
                                    </div>
                                    <!-- Names + Email -->
                                    <div class="col-lg-6 mb-3">
                                        <div class="row row-cols-1 h-100 align-items-center">
                                            <!-- Name -->
                                            <div class="col mb-3">
                                                <input type="text" id="nameInput" class="form-control form-control-lg" placeholder="Name">
                                            </div>
                                            <!-- Surname -->
                                            <div class="col mb-3">
                                                <input type="text" id="surnameInput" class="form-control form-control-lg" placeholder="Surname">
                                            </div>
                                            <!-- Email -->
                                            <div class="col">
                                                <input type="email" id="emailInput2" class="form-control form-control-lg" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ACDM info -->
                                <div class="row">
                                    <div class="col-md-4  mb-3">
                                        <select id="facultyInput" class="form-control form-control-lg">
                                            <option value="" selected disabled hidden>Faculty</option>
                                            <% faculties.forEach(function(faculty) { %>
                                            <option value="<%= faculty.id %>">
                                                <%= faculty.name %>
                                            </option>
                                            <% }); %>
                                        </select>
                                    </div>
                                    <div class="col-md-4  mb-3">
                                        <select id="gradeInput" class="form-control form-control-lg">
                                            <option value="" selected disabled hidden>Grade</option>
                                            <% grades.forEach(function(grade) { %>
                                            <option value="<%= grade.grade %>">
                                                <%= grade.grade %>
                                            </option>
                                            <% }); %>
                                        </select>
                                    </div>
                                    <div class="col-md-4  mb-3">
                                        <select id="groupInput" class="form-control form-control-lg">
                                            <option value="" selected disabled hidden>Group</option>
                                            <% groups.forEach(function(group) { %>
                                            <option value="<%= group.ugroup %>">
                                                <%= group.ugroup %>
                                            </option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <!-- Img input -->
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <input type="file" id="pictureInput" class="form-control form-control-lg" accept="image/*">
                                    </div>
                                </div>
                                <!-- Password -->
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="password" id="registrationPassword" class="form-control form-control-lg password-input" placeholder="Password">
                                            <button class="btn btn-outline-light show-password-btn" type="button">Show</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Password confirmation -->
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="password" id="registrationPasswordConfirm" class="form-control form-control-lg password-input" placeholder="Password Confirmation">
                                            <button class="btn btn-outline-light show-password-btn" type="button">Show</button>
                                        </div>
                                    </div>
                                </div>
                                <button class="signin btn btn-outline-light btn-lg px-sm-5" id="formRegisterBtn" type="submit">Register</button>
                            </form>
                            <div class="mt-3">
                                <p class="register mb-0">Already have an account?
                                    <a href="#" class="register text-white-50 fw-bold" id="loginBtn">Sign in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('fragments/footer-login.ejs') %>
    <script src="/javascript/login.js"></script>
</body>

</html>