<% destinations.forEach(function(destination) { %>
    <!-- Destination card -->
    <div class="col mt-3">
        <div class="card h-100 ">
            <!-- Img row -->
            <div id="destination<%= destination.id %>ImgCarousel" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#destination<%= destination.id %>ImgCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <% for(let i=1; i<destination.image_ids.length; i++) {%>
                        <button type="button" data-bs-target="#destination<%= destination.id %>ImgCarousel" data-bs-slide-to="<%= i %>" aria-label="Slide <%= i + 1 %>"></button>
                    <% } %>
                </div>
                <div class="carousel-inner">
                    <a href="/destinations/<%= destination.id %>">
                        <div class="carousel-item rounded active">
                            <img src="<%= `images/${destination.image_ids[0]}.jpg` %>" class="rounded d-block w-100" alt="...">
                        </div>
                        <% for(let i=1; i<destination.image_ids.length; i++) {%>
                            <div class="carousel-item rounded">
                                <img src="<%= `images/${destination.image_ids[i]}.jpg` %>" class="rounded d-block w-100" alt="...">
                            </div>
                        <% } %>
                    </a>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#destination<%= destination.id %>ImgCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#destination<%= destination.id %>ImgCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Data row -->
            <a href="/destinations/<%= destination.id %>" class="card-body align-items-center p-1 pt-2">
                <h5 class="card-title">
                    <%= destination.nombre %>
                </h5>
                <p class="card-text">
                    <%= destination.descripcion %>
                </p>
            </a>
            <a href="/destinations/<%= destination.id %>" class="card-footer">
                <small class="text-body-secondary">
                    <%= destination.precio.toFixed(2) %>€ / día
                </small>
            </a>
        </div>
    </div>
<% }); %>