<div class="col">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="<%= `${reserva.destino_imagen_id}.jpg` %>" class="img-fluid rounded-start" alt="<%= reserva.destino_imagen_description %>">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= reserva.destino_nombre %></h5>
                    <p class="card-text"><%= reserva.destino_descripcion %></p>
                    <% if (new Date(reserva.fecha_start) < new Date()) { %>

                        <div class="d-flex justify-content-end align-items-center">
                            <span class="material-symbols-outlined star colored">  star </span>
                            <a href="#" class="btn reseniaBtn">Añadir reseña</a>
                        </div>
                    <% } else if (new Date(reserva.fecha_start) > new Date()) { %>
                        <small class="card-text text-muted"><%= new Date(reserva.fecha_start).toLocaleDateString('es-ES', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></small>
                        <div class="d-flex justify-content-end align-items-center">
                            <a href="#" class="btn btn-primary">Cancelar reserva</a>
                        </div>
                         <!--pendiente hacer el post method aqui para cancelar la reserva y borrarla -->
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
