<div class="col">
    <div class="card h-100">
        <div class="row row-cols-1 row-cols-sm-2 g-0 h-100">
            <div class="col-sm-5">
                <a href="/destination/<%= reserva.destino_id%>"> <img src="<%= `images/${reserva.destino_imagen_id}.jpg` %>" class="img-fluid rounded-start h-100" alt="<%= reserva.destino_imagen_description %>"> </a>
            </div>
            <div class="col-sm-7">
                <div class="card-body h-75 pb-0">
                    <h5 class="card-title"><%= reserva.destino_nombre %></h5>
                    <!-- Dates -->
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%= new Date(reserva.fecha_start).toLocaleDateString('es-ES', {year: 'numeric', month: '2-digit', day: '2-digit' }) %> - <%= new Date(reserva.fecha_end).toLocaleDateString('es-ES', {year: 'numeric', month: '2-digit', day: '2-digit' }) %></h6>
                    <!-- Description -->
                    <p class="card-text"><%= reserva.destino_descripcion %></p>
                </div>
                <!-- Action -->
                <div class="card-footer text-end h-25 pt-1 mb-5">
                    <% if (new Date(reserva.fecha_end) < new Date()) { %>
                    <a href="#" class="btn reseniaBtn" data-bs-toggle="modal" data-bs-target="#reseniaModal" data-reserva-id="<%= reserva.reserva_id %>">Añadir reseña</a>
                    <% } else if (new Date(reserva.fecha_start) > new Date()) { %>
                    <form method="post" action="/cancelar">
                        <input type="number" class="d-none" value="<%= reserva.reserva_id %>" name="reservaId">
                        <button type="submit" class="btn btn-primary">Cancelar reserva</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>