<div class="col">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="<%= `${reserva.destino_imagen_id}.jpg` %>" class="img-fluid rounded-start" alt="<%= reserva.destino_imagen_description %>">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= reserva.destino_nombre %></h5>
                    <p class="card-text"><%= reserva.destino_descripcion %></p>
                    <p class="card-text"><small class="text-body-secondary"><%= reserva.fecha_start %></small></p>
                </div>
            </div>
        </div>
    </div>
</div>