<div id="<%= `reserva${reserva.reserva_id}` %>" class="col">
    <div class="card h-100">
        <div class="row row-cols-1 row-cols-sm-2 g-0 h-100">
            <div class="col-sm-5">
                <a href="/destinations/<%= reserva.destino_id%>"> <img src="<%= `images/${reserva.destino_imagen_id}.jpg` %>" class="img-fluid rounded-start h-100" alt="<%= reserva.destino_imagen_description %>"> </a>
            </div>
            <div class="col-sm-7">
                <div class="card-body h-75 pb-0">
                    <h5 class="card-title"><%= reserva.destino_nombre %></h5>
                    <!-- Dates -->
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%= new Date(reserva.fecha_start).toLocaleDateString('es-ES', {year: 'numeric', month: '2-digit', day: '2-digit' }) %> - <%= new Date(reserva.fecha_end).toLocaleDateString('es-ES', {year: 'numeric', month: '2-digit', day: '2-digit' }) %></h6>
                    <!-- Description -->
                    <p class="card-text"><%= reserva.destino_descripcion %></p>
                </div>
                <!-- Action -->
                <div class="card-footer text-end h-25 pt-1 mb-5">
                    <% if (new Date(reserva.fecha_end) < new Date() && reserva.reviewed !== 1) { %>
                    <a id="<%= `addComment${reserva.reserva_id}` %>" href="#" class="btn reseniaBtn" data-bs-toggle="modal" data-bs-target="#reseniaModal" data-reserva-id="<%= reserva.reserva_id %>">Añadir reseña</a>
                    <% } else if (new Date(reserva.fecha_start) > new Date()) { %>
                        <div class="btn-group dropend">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Opciones
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#cancelReservationModal" data-bs-reservaid="<%= reserva.reserva_id %>" data-bs-action="delete" data-bs-destinationid="<%= reserva.destino_id %>">Eliminar</a>

                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modifyReservationModal" data-bs-reservaid="<%= reserva.reserva_id %>" data-bs-action="modify" data-bs-destinationid="<%= reserva.destino_id %>">Modificar</a>
                                </li>                            
                            </ul>
                          </div>                          
                     <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- cancel reserve modal -->
    <div class="modal fade" id="cancelReserveModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="cancelReserveForm" method="post" action="/reservas/delete">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">¿Seguro que quieres eliminar esta reseña?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- update reserve modal (precio no comprobamos.. porque no se guarda en reserva sino en destino, pero no importa porque
        no hay cartera ni finanzzas) -->
    <div class="modal fade" id="modifyReserveModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="modifyReserveForm" method="post" action="/reservas/update">
                    <input class="d-none" id="id" val="<%= reserva.reserva_id %>">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Por favor, indica los nuevos datos de la reserva:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="numberInput">Número de personas:</label>
                        <input type="number" class="form-control" id="numberInput" name="numberInput" value="1" max="10" min="1">
                        <!-- DatePicker -->
                        <div class="mb-3">
                            <label for="calendar" class="form-label">Fechas</label>
                            <input id="calendar" class="form-control w-100" type="text" value="" placeholder="Selecciona tus fechas" required>
                            <input class="d-none" type="text" id="startDate" name="startDate">
                            <input class="d-none" type="text" id="endDate" name="endDate">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>