<div class="col">
    <div class="card h-100">
        <div class="row g-0 h-100">
            <div class="col-5">
                <img src="<%= `${reserva.destino_imagen_id}.jpg` %>" class="img-fluid rounded-start h-100" alt="<%= reserva.destino_imagen_description %>">
            </div>
            <div class="col-7">
                <div class="card-body h-100">
                    <h5 class="card-title"><%= reserva.destino_nombre %></h5>
                    <p class="card-text"><%= reserva.destino_descripcion %></p>
                    <!-- Dates -->
                    <small class="card-text text-muted"><%= new Date(reserva.fecha_start).toLocaleDateString('es-ES', {year: '2-digit', month: '2-digit', day: '2-digit' }) %> - <%= new Date(reserva.fecha_end).toLocaleDateString('es-ES', {year: '2-digit', month: '2-digit', day: '2-digit' }) %></small>
                    <!-- Action -->
                    <div class="mt-2 position-absolute bottom-0 end-0 m-2">
                        <% if (new Date(reserva.fecha_start) < new Date()) { %>
                            <a href="#" class="btn reseniaBtn">Añadir reseña</a>
                        <% } else if (new Date(reserva.fecha_start) > new Date()) { %>
                            <form method="post" action="/cancelar">
                                <input type="number" class="d-none" value="<%= reserva.reserva_id %>" name="reservaId">
                                <button type="submit" class="btn btn-primary">Cancelar reserva</button>
                            </form>
                             <!--pendiente hacer el post method aqui para cancelar la reserva y borrarla -->
                        <% } %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
