<!DOCTYPE html>
<html lang="es">
<!--
  AUTORES:
  Proyecto Opcional AW
      Nicolas Espinosa Mooser.
      Santiago Moral Santorio.
  -->

<head>
  <!-- Shared head -->
  <%- include('fragments/head') %>

    <!-- Custom -->
    <title>CheapBnB</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/destination.css">
</head>

<body>
  <!-- Navbar -->
  <%- include('fragments/navbar') %>

    <!-- Content -->
    <div class="container">
      <h2 class="mt-3">Destino #<%= dest.id %>: <%= dest.nombre %>
      </h2>

      <!-- Images -->
      <div id="images" class="text-center">
        <div class="row row-cols-1 row-cols-lg-3 g-2">
          <!-- Main img -->
          <div class="col col-lg-6 position-relative">
            <div class="row h-100 rounded-start">
              <img id="primaryImg" src="<%= `images/${image_ids[0]}.jpg` %>" class="rounded-start" alt="...">
            </div>
            <button class="btn btn-primary d-lg-none position-absolute bottom-0 end-0 me-3 mb-2" data-bs-toggle="modal" data-bs-target="#picturesModal">
              <span class="d-inline-block align-text-top material-symbols-outlined">
                apps
              </span>
              <span class="d-none d-sm-inline-block">Mostrar todas las fotos</span>
            </button>
          </div>
          <!-- Secondary imgs -->
          <div class="col col-lg-6 d-none d-lg-block ps-0">
            <div class="row row-cols-2 h-100 g-1 position-relative">
              <img src="<%= `images/${image_ids[1]}.jpg` %>" class="img-fluid" alt="...">
              <img src="<%= `images/${image_ids[2]}.jpg` %>" class="img-fluid" alt="...">
              <img src="<%= `images/${image_ids[3]}.jpg` %>" class="img-fluid rounded-end rounded-bottom-0" alt="...">
              <img src="<%= `images/${image_ids[4]}.jpg` %>" class="img-fluid rounded-bottom rounded-start-0" alt="...">
              <button class="btn btn-primary 
                position-absolute bottom-0 end-0 me-3 mb-2" data-bs-toggle="modal" data-bs-target="#picturesModal">
                <span class="d-inline-block align-text-top material-symbols-outlined">
                  apps
                </span>
                Mostrar todas las fotos
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Destination Info + Reservation -->
      <div class="mt-3">
        <div class="row row-cols-1 row-cols-md-2">
          <!-- Destination Info -->
          <div class="col">
            <h3>Información sobre <%= dest.nombre %>
            </h3>
            <p>
              <%= dest.descripcion %>
            </p>
            <!-- Categories -->
            <div class="row row-cols-4 text-center g-3">
              <div class="col">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Bosque">
                  <span class="material-symbols-outlined d-inline-block align-text-top">forest</span>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Piscina">
                  <span class="material-symbols-outlined d-inline-block align-text-top">pool</span>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Senderismo">
                  <span class="material-symbols-outlined d-inline-block align-text-top">hiking</span>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Mascotas">
                  <span class="material-symbols-outlined d-inline-block align-text-top">pets</span>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Verificado">
                  <span class="material-symbols-outlined d-inline-block align-text-top">verified</span>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Tren">
                  <span class="material-symbols-outlined d-inline-block align-text-top">train</span>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Aparcamiento Local">
                  <span class="material-symbols-outlined d-inline-block align-text-top">local_parking</span>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Aire Acondicionado">
                  <span class="material-symbols-outlined d-inline-block align-text-top">ac_unit</span>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Reciclaje">
                  <span class="material-symbols-outlined d-inline-block align-text-top">recycling</span>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Wi-Fi">
                  <span class="material-symbols-outlined d-inline-block align-text-top">wifi</span>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Restaurante">
                  <span class="material-symbols-outlined d-inline-block align-text-top">restaurant</span>
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-title="Apto para Niños">
                  <span class="material-symbols-outlined d-inline-block align-text-top">child_friendly</span>
                </button>
              </div>

            </div>
            <!-- Price -->
            <p class="card-text mt-3"><small class="text-body-secondary">
                <%= dest.precio %> € / día
              </small></p>
          </div>
          <hr class="d-md-none my-3">
          <!-- Reserva -->
          <div class="col">
            <h3>Reserva</h3>
            <form role="reserva" class="pt-2" method="post" action="/reservar">
              <!-- Destino ID -->
              <input class="d-none" type="number" id="destinoId" name="destinoId" value="<%= dest.id %>">
              <!-- Num personas -->
              <div class="mb-3">
                <label for="numPersonas" class="form-label">Número de Personas</label>
                <input type="number" min="1" max="10" class="form-control" id="numPersonas" value="1" name="numPersonas" required>
              </div>
              <!-- DatePicker -->
              <div class="mb-3">
                <label for="calendar" class="form-label">Fechas</label>
                <input id="calendar" class="form-control w-100" type="text" value="" placeholder="Selecciona tus fechas" required>
                <input class="d-none" type="text" id="startDate" name="startDate">
                <input class="d-none" type="text" id="endDate" name="endDate">
              </div>
              <!-- reservoir Btn -->
              <div class="mb-3 text-center">
                <% if(!isAuthenticated) {%>
                  <button id="reservaBtn" class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">Reserva Ya!</button>
                  <% } else { %>
                    <button id="reservaBtn" class="btn btn-primary" type="submit" data-bs-toggle="tooltip" data-bs-title="¡Selecciona tus fechas!">Reserva Ya!</button>
                    <% } %>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--comment section-->
      <div class="text-center mt-5">
        <h3>Comentarios recientes: </h3>

        <!-- placeholder for existing comments -->
        <div id="comments" class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 justify-content-center">
          <% comments.forEach(function(comment) { %>
            <%- include('fragments/comment', {comment}) %>
          <% }); %>
        </div>

      </div>
    </div>

    <!-- Pictures Modal (fullscreen) -->
    <div class="modal fade " id="picturesModal" tabindex="-1" aria-labelledby="picturesModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="picturesModalLabel">Destination #1</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body px-0">
            <div class="row row-cols-1 w-75 m-auto g-2">
              <% for(let i=0; i < image_ids.length; i++) { %>
                <!-- Single image -->
                <% if(i % 3===0){ %>
                  <div class="col-12">
                    <img src="<%= `images/${image_ids[i]}.jpg` %>" class="w-100 h-auto" alt="...">
                  </div>
                  <!-- Last image and has no pair -->
                  <% } else if(i + 1===image_ids.length && i % 3===1){ %>
                    <div class="col-12">
                      <img src="<%= `images/${image_ids[i]}.jpg` %>" class="w-100 h-auto" alt="...">
                    </div>
                    <!-- Pair image -->
                    <% } else{ %>
                      <div class="col-6">
                        <img src="<%= `images/${image_ids[i]}.jpg` %>" class="w-100 h-auto" alt="...">
                      </div>
                      <% } %>
                        <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include('fragments/footer') %>
    <script src="javascript/destino.js"></script>
</body>

</html>